p{
	text-align: justify;
	margin-top:15px;
	margin-left:180px; 
	margin-right:200px;
	font-family: 'Lora', serif;
	font-size:20px;
	line-height: 130%;
	color: #535359;

}

h1{
	font-size:85px;
	margin-top:80px;
	margin-left:180px; 
	margin-right:200px;
	margin-bottom:25px;
	font-family: 'Questrial', sans-serif;
}

.about{
	margin-top:20px;
	margin-bottom:15px;
	margin-left:180px;
	display: inline-block;
}

#photo{
	display: inline-block;
	width:18%;
	float: right;
	margin-right:130px;
	margin-left:50px;
	margin-bottom:20px;
	border-radius:5px;
}


img{
	width: 25px;
	padding: 2px;
	display: inline-block;

}

.icons{
	display: inline-block;
	}
.links{
	margin-left: 60%;
}



@media screen and (max-width: 768px) {
	p{
		margin:50px;
		margin-top: -10px;
		margin-bottom: 40px;
		font-size:15px;
		text-align: left;
	}
	h1{
		font-size: 40px;
		margin: 50px;
	}
	iframe{width: 300px;
		height: 150px;
	}
	img{
		width: 20%;
		margin-left: 20px;
	}
	.icons{
		width: 15px;
	}
}

#navbar{
	text-decoration: underline;
}

a:link{
	color:#273d9e;
	font-weight: bold; 
	text-decoration: none;
}

a:visited{
	color:#273d9e;
	text-decoration: none
}
a:hover{
	color: #7aa3a3;
	transition: all 1s;
}

iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

body{	background-color: #f4ffff;

}